@import "tailwindcss";

@keyframes bounce-up {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-50%);
  }
}

@keyframes bounce-down {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(50%);
  }
}

@keyframes bounceimage-up {
  0%,100%{
    transform: translateY(0);
  } 50% {
    transform: translateY(-5%);
  }
}


@keyframes bounceimage-down {
  0%,100%{
    transform: translateY(0);
  } 50% {
    transform: translateY(5%);
  }
}


.bounce-up {
  animation: bounce-up 5s ease-in-out infinite;
}

.bounce-down {
  animation: bounce-down 5s ease-in-out infinite;
}

.bounceimage-up {
  animation: bounceimage-up 3s ease-in-out infinite;
}

.bounceimage-down {
  animation: bounceimage-down 3s ease-in-out infinite;
}





.card-with-curves {
  position: relative;
  overflow: hidden;
  border-radius: 2rem;
 
}

.card-with-curves::before,
.card-with-curves::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 80px;
  height: 80px;
  background-color: white; 
  border-radius: 50%;
  z-index: 1;
}

.card-with-curves::before {
  left: -30px; 
}

.card-with-curves::after {
  right: -30px;
}


